<footer class="">
    <div class="grid grid-cols-2 justify-items-center">
        <div class="grid justify-items-center">
            <button class="">
                <img src="/page-mitra/image/mitra/icons8-house-48.png" alt="home">
            </button>
            <h6>home</h6>
        </div>
        <div class="grid justify-items-center">
            <button>
                <img src="/page-mitra/image/mitra/icons8-shopping-bag-48.png" alt="bag-transaction">
            </button>
            <h6>transaction</h6>
        </div>
    </div>
</footer>